﻿@model WebApplication.Models.Customer
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
}

<div class="text-center">
    <h1 class="display-4">Стереть кастюмера</h1>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Да" class="btn btn-default" /> |
        @Html.ActionLink("Нет", "Index")
    </div>
}