﻿@model WebApplication.Models.CreateOrEditCustomerRequest
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
}

<div class="text-center">
    <h1 class="display-4">Редактировать кастюмера</h1>
</div>
@using (Html.BeginForm("Edit", "Customers", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <p class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Введите фамилию:</span>
            </div>
            <div class="input-group-text">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", title = "Наименование предпочтения" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Введите имя:</span>
            </div>
            <div class="input-group-text">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", title = "Наименование предпочтения" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>

        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Введите почту:</span>
            </div>
            <div class="input-group-text">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", title = "Наименование предпочтения" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>

        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Введите предпочтения:</span>
            </div>
            <div class="input-group-text">

                @Html.ListBoxFor(model => model.PreferenceIds, Model.Prefer)
            </div>

        </div>






        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Изменить" class="btn btn-default" />
            </div>
        </div>




        <div>
            @Html.ActionLink("Назад", "Index")
        </div>
    </p>
}