﻿@model WebApplication.Models.Preference
@{
    ViewData["Title"] = "Preferences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
}
<div class="text-center">
    <h1 class="display-4">Создать преференцию</h1>
</div>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

<p class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Введите наименование предпочтения:</span>
        </div>
        <div class="input-group-text">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", title = "Наименование предпочтения" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Создать" class="btn btn-default" />
        </div>
    </div>


    <div>
        @Html.ActionLink("Назад", "Index")
    </div>
</p>
}