﻿@model IEnumerable<WebApplication.Models.Preference>
@{
    ViewData["Title"] = "Preferences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Преференции</h1>
</div>

<hr />

<div class="text-center">
    <a class="btn btn-outline-primary" role="button" href="/Preferences/Create">Создать</a>
</div>

<hr />


<table id="example" class="table table-striped table-bordered dataTable" style="width: 100%;" role="grid" aria-describedby="example_info">
    <thead>
        <tr>

            <th>
                Наименование
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.ActionLink("Ред", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Стереть", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </tbody>

</table>




