﻿@model WebApplication.Models.GivePromoCodeRequest
@{
    ViewData["Title"] = "Promocodes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
}
<div class="text-center">
    <h1 class="display-4">Создать промокод</h1>
</div>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

<p class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Введите название промокода:</span>
        </div>
        <div class="input-group-text">
            @Html.EditorFor(model => model.PromoCode, new { htmlAttributes = new { @class = "form-control", title = "Наименование промокода" } })
            @Html.ValidationMessageFor(model => model.PromoCode, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Введите ServiceInfo:</span>
        </div>
        <div class="input-group-text">
            @Html.EditorFor(model => model.ServiceInfo, new { htmlAttributes = new { @class = "form-control", title = "Наименование ServiceInfo" } })
            @Html.ValidationMessageFor(model => model.ServiceInfo, "", new { @class = "text-danger" })
        </div>

    </div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Введите начальную дату:</span>
        </div>
        <div class="input-group-text">
            @Html.EditorFor(model => model.BeginDate, new { htmlAttributes = new { @class = "form-control", type = "text", title = "Введите начальную дату" } })
            @Html.ValidationMessageFor(model => model.BeginDate, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Введите конечную дату:</span>
        </div>
        <div class="input-group-text">
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", type = "text", title = "Введите конечную дату" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>

    </div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Введите предпочтения:</span>
        </div>
        <div class="input-group-text">

            @Html.DropDownListFor(model => model.PreferenceId, Model.Prefer)
        </div>

    </div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Введите партнёра:</span>
        </div>
        <div class="input-group-text">

            @Html.DropDownListFor(model => model.PartnerId, Model.Partner)
        </div>

    </div>




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Создать" class="btn btn-default" />
        </div>
    </div>




    <div>
        @Html.ActionLink("Назад", "Index")
    </div>
</p>
}