﻿@model IEnumerable<WebApplication.Models.PromoCodeShortResponse>
@{
    ViewData["Title"] = "Promocodes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Промокоды</h1>
</div>

<hr />

<div class="text-center">
    <a class="btn btn-outline-primary" role="button" href="/Promocodes/Create">Создать</a>
</div>

<hr />


<table id="example" class="table table-striped table-bordered dataTable" style="width: 100%;" role="grid" aria-describedby="example_info">
    <thead>
        <tr>

            <th>
                Code
            </th>
            <th>
                ServiceInfo
            </th>
            <th>
                BeginDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                PartnerId
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ServiceInfo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PartnerId)
            </td>
            <td>
                @Html.ActionLink("Ред", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Стереть", "Delete", new { id = item.Id })
            </td>
        </tr>
        }

    </tbody>

</table>




